  <div class="container">
    <div class="column ">

<div class="profile-container">
        <h3 class="sectionFont is-size-3">
          In Theatres/Upcoming
        </h3>
        <button id="moreOutNow">More Movies!</button>
        <br>
        <br>
                <div class="columns" id="threeOutNow">
        </div>
</div>


        <!-- end of In Theaters -->
        <!-- make a button here for expanding the list downwards -->
        {{!-- <div class="column "> --}}
          <!-- movieSections-->
          {{!-- <div class="movieSections"> --}}
            <div class="profile-container">
            <h3 class="sectionFont is-size-3">
              Popular
            </h3>
            <button id="morePopular">More Movies!</button>
            <br>
            <br>
          <div class="columns" id="threePopularMovies">
            </div>
          </div>
        </div>

